<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>The password associated with this email address has been reset.</h3>
    <p>
      Your temporary password is <%= @pass %><br>
    </p>
    <p>
      To reset your password and login, please follow this link: <%= @url %>.
    </p>
  </body>
</html>