<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The password associated with the email address <%= @user.email %> has been reset.</h1>
    <p>
      Your temporary password is <%= @new_pass %><br>
    </p>
    <p>
      To login and reset your password, just follow this link: <%= @url %>.
    </p>
  </body>
</html>