<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.first_name %> <%= @user.last_name%>,</p>
    <p>
      Your registration has been approved, and you can now access the INCS Resume Bank at <a target="_blank" href="http://www.teacherjobfair.org/sessions/new">www.teacherjobfair.org</a>. Search for candidates, browse through their registration summaries, and download the resumes that you select.<br>
    </p>

    <p>
    Please use the email and password you entered on the registration page to log in. If you have forgotten your login credentials, please select "forgot password" on the bottom of the log-in page, <a target="_blank" href="http://www.teacherjobfair.org/sessions/new">here</a>.
    </p>

    <p>
      If you need any assistance using our database, or if you have any feedback about the site, please do not hesitate to contact me at the information below. <br>
    </p>

    <p>
      Thank you,<br><br>
      Stephanie Arias<br>
      Charter Support Manager<br>
      Illinois Network of Charter Schools<br>
      150 N. Michigan Ave<br>
      Suite 430<br>
      Chicago, IL 60601<br>
      P 312.690.2715<br>
      F 312.629.2064<br>
      sarias@incschools.org<br>
    </p>
  </body>
</html>
