<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.first_name %> <%= @user.last_name%>,</p>
    <p>
      Your registration has been approved, and you can now access the INCS Resume Bank at <a target="_blank" href="http://www.teacherjobfair.org/sessions/new">www.teacherjobfair.org</a>.
    </p>

    <p>
    With your account, you can search for job seekers that meet your team's needs, browse job seeker profiles, view and download resumes, and download spreadsheets of all job seekers who meet your search criteria.
    </p>

    <p>
      If you need any assistance using our database, or if you have any feedback about the site, please do not hesitate to contact me at the information below. <br>
    </p>

    <p>
    Thank you,<br><br>
    Allison Jack<br>
    Illinois Network of Charter Schools<br>
    Director of Charter Support & Growth<br>
    AJack@incschools.org<br>
    312.690.2708<br>
    </p>
  </body>
</html>
