<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the INCS Resume Bank, <%= @user.school %></h1>
    <p>
      You have successfully signed up,
      your username is your email address: <%= @user.email %>.<br>
    </p>
    <p>
      Your registration must be approved by INCS before you are able to search the resume bank. Please allow 1-3 days for processing.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>