<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <p>Dear
    <%=@user.first_name%>,</p>
    <p>
    Thank you for using INCS’s Online Resume Bank. Your information has been received.
    <br>
    </p>
    <p>
    Please keep your username and password for your records. You can log into your account at any time to upload, edit, or delete any part of your profile.
    </p>

    <p>Have you checked out our Jobs Board? Feel free to look at part-time and full-time positions across the state <a href="https://www.incschools.org/jobs/jobs-at-charter-schools/">here</a>.</p>

    <p>If you need any assistance using our database, please do not hesitate to contact me at the information below.</p>

    <p>
    Best,<br>
    <em>Stephanie Arias</em>
    <br> Charter Support Manager
    <br> Illinois Network of Charter Schools
    <br> 150 N. Michigan Ave
    <br> Suite 430
    <br> Chicago, IL 60601
    <br> P 312.690.2715
    <br> F 312.629.2064
    <br> sarias@incschools.org
    <br>
    </p>

  </body>
</html>
