<% @users.each do |user| %>
<div class="result">
  <br>
  <label>Name:</label> <%= user.school %><br>
  <label>Email: </label> <%= user.email %><br>
  <label>Status:</label> <%= user.access %><br>
  <%= button_to "Activate", "/users/#{user.id}/activate", method: :put, class: "btn btn-info" %><br>
</div>
<% end %>