<h2>All Teachers in Resume Bank:</h2>

<% @users.each do |user| %>
<div class="result">
  <label>Name:</label> <%= user.first_name %> <%= user.last_name %><br>
  <label>Email:</label> <%= user.email %><br>
  <label>Registered:</label> <% if user.register == 'bank' %> No <% else %> Yes <% end %><br>
  <label>Active:</label> <% if user.is_active? %> Yes <% else %> No
  <%= button_to "Delete", user, method: :delete, class: "btn btn-danger" %>
  <% end %>
</div>
<% end %>

<% if User.find(session[:user_id]).access == "admin" || User.find(session[:user_id]).access == "school"%>
  <a href="/users/teachers-csv"><button class="btn btn-info" id="gen-csv">Generate CSV</button></a>
<% end %>