<div class="centered">
<h1 class="main-header">Welcome to the INCS Online Resume Collection Box</h1>

  <% if session[:user_id] == nil %>
    <div class="main-container">
      <%= button_to "Teacher Registration", users_new_teacher_path, method: :get, class: "btn btn-info main-btn"%>
    </div>
    <div class="main-container">
      <%= button_to "School Registration", users_new_school_path, method: :get, class: "btn btn-info main-btn"%>
    </div>
  <% end %>
</div>