/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
body {
  font-family: "Open Sans", "Avenir Next", "Calibri", "Arial";
  margin-bottom: -25px;
}

.topic {
  text-align: center;
  color: #005088;
  font-weight: bold;
}

.main-content {
  font-size: 1.2em;
  color: #717171;
  text-align: justify;
}

.main-content-list {
  font-size: 1.2em;
  color: #717171;
}

.label-align {
  position: relative;
  left: 16px;
  bottom: 20px;
}

.label-up {
  position: relative;
  bottom: 20px;
}

.label-up2 {
  position: relative;
  bottom: 40px;
}

.nav-pills > li > a {
  background-color: #07adba;
  color: #f2f2f2;
  font-size: 15px;
  height: 35px;
  line-height: 17px;
}

body > div > table > tbody > tr > td {
  text-align: center;
}

body > div > table > thead > tr > th {
  text-align: center;
}

.res-cell {
  border: none !important;
  border-top: 1px solid #ddd !important;
  background-color: #fff !important;
}

.res-row {
  line-height: 35px !important;
}

.new_resume > input {
  display: inline-block;
}

.new_resume > label {}

.new_resume {
  text-align: center;
}

.nav-pills > li > a:hover {
  background-color: #15BDCA;
  color: #fff;
}

.btn {
  background-color: #005088;
  color: #f2f2f2;
  border-color: transparent;
}

.btn:hover {
  background-color: #015896;
  color: #fff;
  border-color: transparent;
}

.container {
  padding-top: 80px;
  margin-bottom: 25px;
  max-width: 750px;
  min-width: 750px;
}

.additional-info {
  max-width: 500px;
  word-wrap: break-word;
}

.checkbox-grid li {
  display: block;
  float: left;
  width: 33%;
}

.checkbox-grid2 li {
  display: block;
  float: left;
  width: 50%;
}

.field2 {
  display: block;
  float: left;
  clear: both;
  position: relative;
  left: 40px;
}

.field3 {
  margin-top: 20px;
}

.field4 {
  margin-top: 50px;
}

.field5 {
  margin-top: 560px;
}

.field6 {
  margin-top: 650px;
}

.field7 {
  position: relative;
  top: 20px;
  float: left;
  clear: both;
  margin: 10px;
}

.field8 {
  margin-top: 1510px;
}

.form-control {
  max-width: 350px;
}


/*labels*/

.long-field {
  width: 400px;
}

.med-field {
  width: 250px;
}

.small-field {
  width: 100px;
}

.tiny-field {
  width: 60px;
}

.teacher-label {
  width: 15%;
}

.teacher-label2 {
  width: 22%;
}

.centered {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: space-around;
  font-size: 45px;
  background-color: #fff;
}

.main-btn {
  width: 260px;
  height: 100px;
  margin: auto 0;
  padding: 0 15px;
  font-size: 20px;
  background-color: #005088;
  word-wrap: break-word;
  white-space: normal;
}

.main-header {
  color: #005088;
  text-align: center;
  position: relative;
  bottom: 35px;
  font-weight: bold;
  font-size: 34px;
}

.result {
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.footer {
  position: fixed;
  height: 25px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.disclaimer {
  font-size: .85em;
}

.prim-1 {
  display: inline-block;
  height: 25px;
  width: 25%;
  background-color: #26BCD6;
}

.prim-2 {
  display: inline-block;
  height: 25px;
  width: 25%;
  background-color: #65AB45;
}

.prim-3 {
  display: inline-block;
  height: 25px;
  width: 25%;
  background-color: #EE7622;
}

.prim-4 {
  display: inline-block;
  height: 25px;
  width: 25%;
  background-color: #B41782;
}

.banner {
  display: inline-block;
  width: 100%;
  position: relative;
  top: 60px;
}

.navbar-default {
  height: 100%;
  background-color: white;
}

.navbar-right {
  position: relative;
  top: 25px;
}

.navbar-right li {
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.field {
  padding-bottom: 4px;
}

.resume {
  border: 1px solid black;
  background-color: white;
  list-style: none;
  font-size: 20px;
}

.btn-search {
  width: 200px;
  display: block;
  float: left;
  clear: both;
  position: relative;
  left: 220px;
  margin-bottom: 40px;
  top: 20px;
}

.btn-submit {
  width: 100px;
  /*  position: relative;
  left: 33%;*/
  border-color: transparent;
}

.btn-submit2 {
  width: 100px;
  position: relative;
  left: 0px;
  border-color: transparent;
}

.btn-activate {
  background-color: #65AB45;
  border-color: transparent;
}

.btn-deactivate {
  background-color: #B41782;
  border-color: transparent;
}

.btn-danger {
  background-color: #652D88;
  border-color: transparent;
}

.btn-centered {
  display: block;
  width: 215px;
  margin: 0 auto;
}

.list-head {
  background-color: white;
  list-style: none;
  font-size: 20px;
}

body > div > table > tbody > tr > td {
  line-height: 35px;
}

.inline {
  position: relative;
  top: -53px;
  left: 150px;
}

.style_image {
  float: left;
  margin-right: 15px;
}

.content-container {
  width: 100%;
  padding-bottom: 15px;
}

.highlights {
  text-decoration: underline;
}

.actions {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.alert {
  flex: 1;
  text-align: center;
  display: inline-block;
}
