/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
body {
  font-family: "Open Sans", "Avenir Next", "Calibri", "Arial";
  margin-bottom: -25px;
}

label {
  font-weight: normal;
}

p {
  font-size: inherit;
}

.topic {
  text-align: center;
  color: #005088;
  font-weight: bold;
}

.main-content {
  font-size: 1.2em;
  color: #717171;
  text-align: justify;
}

.main-content-list {
  font-size: 1.2em;
  color: #717171;
}

.label-align {
  position: relative;
  left: 16px;
  bottom: 20px;
}

.flex-one {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
}

.label-up {
  position: relative;
  bottom: 20px;
}

.label-up2 {
  position: relative;
  bottom: 40px;
}

.nav-pills > li > a {
  background-color: #07adba;
  color: #f2f2f2;
  font-size: 15px;
  height: 35px;
  line-height: 17px;
}

body > div > table > tbody > tr > td {
  text-align: center;
}

body > div > table > thead > tr > th {
  text-align: center;
}

.res-cell {
  border: none !important;
  border-top: 1px solid #ddd !important;
  background-color: #fff !important;
}

.res-row {
  line-height: 35px !important;
}

.new_resume > input {
  display: inline-block;
}

.new_resume > label {}

.new_resume {
  text-align: center;
}

.nav-pills > li > a:hover {
  background-color: #15BDCA;
  color: #fff;
}

.btn {
  background-color: #005088;
  color: #f2f2f2;
  border-color: transparent;
}

.btn-primary:hover {
  background-color: #015896;
  color: #fff;
  border-color: transparent;
}

.container {
  padding-top: 80px;
  margin-bottom: 25px;
  max-width: 750px;
  min-width: 750px;
}

.new_user {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.edit_user {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.additional-info {
  max-width: 500px;
  word-wrap: break-word;
}

.checkbox-grid li {
  display: block;
  float: left;
  width: 33%;
}

.checkbox-grid2 li {
  display: block;
  float: left;
  width: 50%;
}

.field2 {
  display: block;
  float: left;
  clear: both;
  position: relative;
  left: 40px;
}

.field3 {
}

.field4 {
}

.field5 {
}

.field6 {
}

.field7 {
  position: relative;
  top: 20px;
  float: left;
  clear: both;
  margin: 10px;
}

.field8 {
}

.form-control {
  max-width: 250px;
}

.form-control-tiny {
  max-width: 50px;
  margin-left: 5px;
}

.form-control-small {
  max-width: 150px;
  margin-left: 5px;
}

/*labels*/

.long-field {
  width: 400px;
}

.med-field {
  width: 250px;
}

.small-field {
  width: 100px;
}

.tiny-field {
  width: 60px;
}

.teacher-label {
  width: 36%;
  font-weight: bold;
}

.teacher-label2 {
  width: 22%;
  font-weight: bold;
}

.teacher-label3 {
  margin-top: 5px;
  width: 52%;
  font-weight: bold;
}

em label {
  font-weight: bold !important;
}
.label-bold {
  font-weight: bold !important;
}

.bold {
  font-weight: 600;
}
.boldBig {
  font-size: 1.3em;
  font-weight: 600;
}

.centered {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.main-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  font-size: 45px;
  background-color: #fff;
  margin-bottom: 16px;
}

.main-btn {
  width: 260px;
  height: 100px;
  margin: auto 0;
  padding: 0 15px;
  font-size: 20px;
  background-color: #005088;
  word-wrap: break-word;
  white-space: normal;
}

.main-header {
  color: #005088;
  text-align: center;
  position: relative;
  bottom: 12px;
  font-weight: bold;
  font-size: 34px;
}

.sub-header {
  color: #005088;
  text-align: center;
  position: relative;
  bottom: 24px;
  font-weight: bold;
  font-size: 18px;
}

.result {
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.admin-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 400px;
}

.footer {
  position: fixed;
  height: 25px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.disclaimer {
  font-size: .85em;
}

.prim-1 {
  display: inline-block;
  height: 25px;
  width: 25%;
  background-color: #26BCD6;
}

.prim-2 {
  display: inline-block;
  height: 25px;
  width: 25%;
  background-color: #65AB45;
}

.prim-3 {
  display: inline-block;
  height: 25px;
  width: 25%;
  background-color: #EE7622;
}

.prim-4 {
  display: inline-block;
  height: 25px;
  width: 25%;
  background-color: #B41782;
}

.banner {
  display: inline-block;
  width: 100%;
  position: relative;
  top: 60px;
}

.navbar-default {
  height: 100%;
  background-color: white;
}

.navbar-right {
  position: relative;
  top: 25px;
}

.navbar-right li {
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.field {
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -o-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-bottom: 12px;
}

.field_with_errors {
}

.field_with_errors input {
  border: 1px solid red;
}

.field-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.field-radio {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  position: relative;
  left: 40px;
  align-items: center;
  margin-bottom: 5px;
}

.field-radio input[type="radio"], input[type="checkbox"], input[type="text"] {
  margin: 0px 4px 0px 0px;
}
.field-radio input[type="radio"], input[type="checkbox"] {
  margin: 0px 4px 0px 0px;
  height: 12px;
}

.field-radio label {
  margin: 0;
  margin-right: 4px;
}
.select-label {
  margin-top: 5px;
  width: 36%;
}

.resume {
  border: 1px solid black;
  background-color: white;
  list-style: none;
  font-size: 20px;
}

.btn-search {
  width: 200px;
  display: block;
  float: left;
  clear: both;
  position: relative;
  left: 220px;
  margin-bottom: 40px;
  top: 20px;
}

.btn-submit {
  width: 100px;
  /*  position: relative;
  left: 33%;*/
  border-color: transparent;
}

.btn-submit2 {
  width: 100px;
  position: relative;
  left: 0px;
  border-color: transparent;
}

.btn-activate {
  background-color: #65AB45;
  border-color: transparent;
}

.btn-deactivate {
  background-color: #B41782;
  border-color: transparent;
}

.btn-danger {
  background-color: #652D88;
  border-color: transparent;
}

.btn-danger:hover {
  background-color: #9a45cc;
  color: #fff;
  border-color: transparent;
}

.btn-info:hover {
  background-color: #e01a9e;
  color: #fff;
  border-color: transparent;
}

.btn-centered {
  display: block;
  width: 215px;
  margin: 0 auto;
}

.list-head {
  background-color: white;
  list-style: none;
  font-size: 20px;
}

body > div > table > tbody > tr > td {
  line-height: 35px;
}

.inline {
  position: relative;
  top: -53px;
  left: 150px;
}

.style_image {
  float: left;
  margin-right: 15px;
}

.content-container {
  width: 100%;
  padding-bottom: 15px;
}

.highlights {
  text-decoration: underline;
}

.actions {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.alert {
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -o-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  display: inline-block;
}

li.field-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.no-margin {
  margin: 0 !important;
}

.admin-buttons-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

.admin-button {
  margin: 0 2px;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -o-flex: 1 1 auto;
  flex: 1 1 auto;
}

.admin-clear-button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin: 0 2px;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -o-flex: 1 1 auto;
  flex: 1 1 auto;
}

.admin-header {
  text-align: center;
}

.btn-active {
  background-color: #e01a9e;
  color: #fff;
  border-color: transparent;
}

.underline {
  text-decoration: underline;
}

.red {
  color: red;
}

.grayed {
  font-size: 1.2em;
  color: #999;
  text-align: justify;
}

#search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.result_button_container {
  display: flex;
  margin-bottom: 8px;
  > form:nth-child(1) {
    margin-right: 8px;
  }
}
