// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family:"Open Sans", "Avenir Next", "Calibri", "Arial";
  margin-bottom:-25px;
}

.nav-pills > li > a {
    background-color:#07adba;
    color:#f2f2f2;
    font-size:15px;
    height:35px;
    line-height:17px;
}

body > div > table > tbody > tr > td{
  text-align: center;
}

body > div > table > thead > tr > th{
  text-align: center;
}
.res-cell {
  border:none !important;
  border-top:1px solid #ddd !important;
  background-color: #fff !important;
}

.res-row {
  line-height:35px !important;
}
.new_resume > input {
  display:inline-block;
}

.new_resume > label {
  margin-left:8%;
}

.nav-pills > li > a:hover{
    background-color:#15BDCA;
    color:#fff;
}

.btn {
  background-color:#07adba;
  color:#f2f2f2;
  border-color: transparent;
}

.btn:hover {
  background-color:#15BDCA;
  color:#fff;
  border-color: transparent;
}

.container {
  margin-bottom: 25px;
  max-width:750px;
  min-width:750px;
}

.additional-info {
  max-width: 500px;
  word-wrap: break-word;
}

.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
}

.form-control {
  max-width: 350px;
}

.teacher-label {
  width: 15%;
}

.teacher-label2 {
  width: 20%;
}

.centered {
  width:100%;
}
.main-container {
  display: inline-block;
  margin-left: 12%;
  font-size:45px;
  background-color: #fff
}

.main-btn {
  width:230px;
  height:100px;
  margin:auto 0;
  padding:0 15px;
  font-size:20px;
  background-color: #005088
}

.main-header {
  text-align:center;
  position:relative;
  bottom:45px;
}

.result {
  border-bottom:1px solid grey;
}

.main-header {

}

.footer {
  position:fixed;
  height:25px;
  width:100%;
  bottom:0;
}

.prim-1 {
  display:inline-block;
  height:25px;
  width:25%;
  background-color:#26BCD6;
}
.prim-2 {
  display:inline-block;
  height:25px;
  width:25%;
  background-color:#65AB45;
}
.prim-3 {
  display:inline-block;
  height:25px;
  width:25%;
  background-color:#EE7622;
}
.prim-4 {
  display:inline-block;
  height:25px;
  width:25%;
  background-color:#B41782;
}


 .navbar-default {
  height:110px;
  background-color: white;
}

.navbar-right {
  position:relative;
  top:25px;
}

.navbar-right li {
  padding:10px;
  font-size: 15px;
  text-transform: uppercase;
}

.field {
  padding-bottom: 4px;
}

.resume {
  border:1px solid black;
  background-color: white;
  list-style: none;
  font-size: 20px;
}

.btn-search {
  width: 200px;
  position: relative;
  left: 33%;
}

.btn-submit {
  width: 100px;
/*  position: relative;
  left: 33%;*/
  border-color: transparent;
}

.btn-submit2 {
  width: 100px;
  position: relative;
  left: 33%;
  border-color: transparent;
}

.btn-activate {
  background-color: #65AB45;
  border-color: transparent;
}

.btn-deactivate {
  background-color: #B41782;
  border-color: transparent;
}

.btn-danger {
  background-color: #652D88;
  border-color: transparent;
}

.list-head {
  background-color: white;
  list-style: none;
  font-size: 20px;
}

body > div > table > tbody > tr > td {
  line-height: 35px;
}